body {
font-family: Verdana, Geneva, Tahoma, sans-seriè;
}

header {
    background-image: url("images/watercolor2.jpg");
    background-repeat: no-repeat;
    height: 300px;
}

h1{
    font-size: 250%;
    text-align: center;
    /*margin-top: 50px;*/
    padding-top: 100px;
}

#adjective {
    text-align: center;
    font-size: 120%;
}

#nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}


a {
    text-align: center;
    /*font-size: x-large;*/
    font-size: 125%;
    text-decoration: none;
    color: rgb(12, 4, 82);
    /*line-height: 50%;*/
    margin: 15px;
}

main {
    background-color: rgb(245, 207, 213);
}

/* section {
    display: flex;
} */

#About {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    /* align-items: flex-start; */
    /*text-align: center;*/
    margin-left: 50px;
}

#subbox {
    flex-grow: 4;
    padding-right: 20px;
    text-align: center;
}

#sdhead{
    flex-grow: 2;
    max-width: 150px;
    max-height: 150px;
    padding-top: 10px;
}

#Abme {
    flex-grow: 5;
    padding: 40px;
}

#Work {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:left;
}

 #subbox2 {
    flex-grow: 4;
    padding-left: 45px;
    text-align: center;
}

#important {
    background-image: url("images/binary.jpg");
    background-size: 625px;
    color: white;
    width: 1000px;
    height: 75px;
    text-align: center;
    padding-top: 50px;
    padding-left: 150px;
    margin-left: 30px;
}

#section2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#two {
    background-image: url("images/chartcode.jpg");
    background-size: 750px;
    font-size: 150%;
    color: #ffffff;
    width: 500px;
    height: 150px;
    text-align: center;
    padding-top: 100px;
}
#three {
    background-image: url("images/greenboard.jpg");
    background-size: 550px;
    font-size: 150%;
    color: #ffffff;
    width: 500px;
    height: 150px;
    text-align: center;
    padding-top: 100px;
}
#four {
    background-image: url("images/csscode.jpg");
    background-size: 101%;
    font-size: 150%;
    color: #ffffff;
    width: 500px;
    height: 150px;
    text-align: center;
    padding-top: 100px;
}
#five {
    background-image: url("images/code.jpg");
    background-size: 550px;
    font-size: 150%;
    color: #ffffff;
    width: 500px;
    height: 150px;
    text-align: center;
    padding-top: 100px;
    /* border-style: solid;
    border-color: red; */
}

#contactTop {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
}

#subbox3 {
    text-align: center;
    padding-left: 20px;
}
#Contact {
    text-align: center;
    margin-left: 200px;
}

ul li {
    
    display: inline;
    margin: 15px;
}

footer {
    text-align: center;
    background-color: rgb(233, 226, 135);
    padding: 20px;    
}

@media screen and (max-width: 992px) {
    
            header {
            background-image: url("images/watercolor2.jpg");
            background-repeat: no-repeat;
            height: 200px;
            max-width: 100%;
        }
        
        h1{
            font-size: 200%;
            text-align: center;
            padding-top: 60px;
        }
        
        #nav {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-around;
        }
        
        #important {
            background-image: url("images/binary.jpg");
            background-size: 625px;
            color: white;
            width: 685px;
            height: 65px;
            text-align: center;
            padding-top: 50px;
            padding-left: 120px;
            margin-left: 30px;
        }
        
        #two {
            background-image: url("images/chartcode.jpg");
            background-size: 750px;
            font-size: 150%;
            color: #ffffff;
            width: 400px;
            height: 125px;
            text-align: center;
            padding-top: 100px;
        }
        #three {
            background-image: url("images/greenboard.jpg");
            background-size: 550px;
            font-size: 150%;
            color: #ffffff;
            width: 400px;
            height: 125px;
            text-align: center;
            padding-top: 100px;
        }
        #four {
            background-image: url("images/csscode.jpg");
            background-size: 101%;
            font-size: 150%;
            color: #ffffff;
            width: 400px;
            height: 125px;
            text-align: center;
            padding-top: 100px;
        }
        #five {
            background-image: url("images/code.jpg");
            background-size: 550px;
            font-size: 150%;
            color: #ffffff;
            width: 400px;
            height: 125px;
            text-align: center;
            padding-top: 100px;
        }
        
        #contactTop {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: left;
        }
        
        #subbox3 {
            text-align: center;
            /*padding-left: 20px;*/
        }
        #Contact {
            text-align: center;
            margin-left: 30px;
        }
}


@media screen and (max-width: 768px) {
        header {
            background-image: url("images/watercolor2.jpg");
            background-repeat: no-repeat;
            height: 250px;
        }
        
        h1{
            font-size: 175%;
            text-align: center;
            padding-top: 40px;
        }
        
        #nav {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-evenly;
        }
        
        a {
            text-align: center;
            font-size: 125%;
            text-decoration: none;
            color: rgb(12, 4, 82);
            margin: 5px;
        }
        
        main {
            background-color: rgb(245, 207, 213);
        }
        
        #About {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-around;
            margin-left: 50px;
        }
        
        #subbox {
            flex-grow: 4;
            padding-right: 20px;
            text-align: center;
        }
        
        #sdhead{
            flex-grow: 2;
            max-width: 100px;
            max-height: 100px;
            padding-top: 10px;
        }
        
        #Abme {
            flex-grow: 5;
            padding: 30px;
        }
        
        #Work {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content:left;
        }
        
         #subbox2 {
            flex-grow: 4;
            padding-left: 45px;
            text-align: center;
        }
        
        #important {
            background-image: url("images/binary.jpg");
            background-size: 625px;
            color: white;
            width: 1000px;
            height: 75px;
            text-align: center;
            padding-top: 50px;
            padding-left: 150px;
            margin-left: 30px;
        }
        
        #section2 {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }
        
        #two {
            background-image: url("images/chartcode.jpg");
            background-size: 750px;
            font-size: 150%;
            color: #ffffff;
            width: 300px;
            height: 100px;
            text-align: center;
            padding-top: 100px;
        }
        #three {
            background-image: url("images/greenboard.jpg");
            background-size: 550px;
            font-size: 150%;
            color: #ffffff;
            width: 300px;
            height: 100px;
            text-align: center;
            padding-top: 100px;
        }
        #four {
            background-image: url("images/csscode.jpg");
            background-size: 101%;
            font-size: 150%;
            color: #ffffff;
            width: 300px;
            height: 100px;
            text-align: center;
            padding-top: 100px;
        }
        #five {
            background-image: url("images/code.jpg");
            background-size: 550px;
            font-size: 150%;
            color: #ffffff;
            width: 300px;
            height: 100px;
            text-align: center;
            padding-top: 100px;
            /* border-style: solid;
            border-color: red; */
        }
        
        #contactTop {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: left;
        }
        
        #subbox3 {
            text-align: center;
            padding-left: 5px;
        }
        #Contact {
            text-align: center;
            margin-left: 100px;
            font-size: 25px;
        }
        
        ul li {
            
            display: inline;
            margin: 15px;
        }
        
        footer {
            text-align: center;
            background-color: rgb(233, 226, 135);
            padding: 20px;    
        }
        
}

@media screen and (max-width: 576px) {
    
     header {
        background-image: url("images/watercolor2.jpg");
        background-repeat: no-repeat;
        height: 140px;
    }
    
    h1{
        font-size: 130%;
        text-align: center;
        padding-top: 20px;
    }
    
    #adjective {
        text-align: center;
        font-size: 90%;
    }
    
    #nav {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
    }
    
    a {
        text-align: center;
        font-size: 100%;
        text-decoration: none;
        color: rgb(12, 4, 82);
    }
    
    #About {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-left: 30px;
    }
    
    #subbox {
        flex-grow: 1;
        padding-right: 20px;
        text-align: center;
        font-size: 100%;
    }
    
    #sdhead{
        margin-left: auto;
        margin-right: auto;
        max-width: 50px;
        max-height: 50px;
        padding-top: 10px;
    }
    
    #Abme {
        /* flex-grow: 2; */
        padding-left: 20px;
        font-size: 80%;
    }
    
    #Work {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content:center;
    }
    
     #subbox2 {
        flex-grow: 4;
        padding-left: 45px;
        text-align: center;
    }
    
    #important {
        /* background-image: url("images/binary.jpg"); */
        background-size: 0px;
        color: darkblue;
        width: 60%;
        height: 50px;
        text-align: left;
        padding-top: 50px;
        padding-left: 150px;
        margin-left: 30px;
    }
    
    #section2 {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
    }
    
    #two {
        /* background-image: url("images/chartcode.jpg"); */
        background-size: 0px;
        font-size: 100%;
        color: darkblue;
        width: 200px;
        height: 75px;
        text-align: center;
        padding-top: 10px;
        margin-left: auto;
        margin-right: auto;
    }
    #three {
        /* background-image: url("images/greenboard.jpg"); */
        background-size: 0px;
        font-size: 100%;
        color: darkblue;
        width: 200px;
        height: 75px;
        text-align: center;
        padding-top: 10px;
        margin-left: auto;
        margin-right: auto;
    }
    #four {
        /* background-image: url("images/csscode.jpg"); */
        background-size: 0px;
        font-size: 100%;
        color: darkblue;
        width: 200px;
        height: 75px;
        text-align: center;
        padding-top: 10px;
        margin-left: auto;
        margin-right: auto;
    }
    #five {
        /* background-image: url("images/code.jpg"); */
        background-size: 0px;
        font-size: 100%;
        color: darkblue;
        width: 200px;
        height: 75px;
        text-align: center;
        padding-top: 10px;
        margin-left: auto;
        margin-right: auto;
        /* border-style: solid;
        border-color: red; */
    }
    
    #contactTop {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: left;
    }
    
    #subbox3 {
        text-align: center;
        /* padding-left: 20px; */
    }
    #Contact {
        text-align: center;
        margin-left: 0px;
    }
    
    ul li {
        margin: 0px 100px;
        font-size: 60%;
        flex-basis: 300px;
        align-self: center;
    }
    
    footer {
        text-align: center;
        background-color: rgb(233, 226, 135);
        padding: 20px;    
    }
    
    
}