body {
    font-family: 'Livvic', sans-serif;
    margin: 0;
    padding: 0;
/* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}

header {
    height: 200px;
    font-size: 20px;
    width: 100vw;
    left: 0px;
}

#bodyheader {
    background-color: #92140C;
    width: 100%;
}

h1{
    font-size: 250%;
    text-align: center;
    padding-top: 30px;
    color: #C1B4AE;
}

#adjective {
    text-align: center;
    font-size: 120%;
    color: #C1B4AE;
}

#nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    color: #C1B4AE;
    border-bottom: 20px;
}

a {
    text-align: center;
    font-size: 125%;
    text-decoration: none;
    color: #C1B4AE;
    margin: 15px;
}

main {
    background-color: #C1B4AE;
}

#About {
    display: flex;
    flex-direction: row;
    /* margin-left: 50px; */
    justify-content: space-evenly;
}

#subbox {
    padding-right: 10px; 
    text-align: center;
    padding-left: 20px;
    /* margin-left: -225px; */
}

#Abme {
    /* width: 950px; */
    padding-right: 25px;
}


/* #subbox2 {
    margin-left: -70px;
} */
#cardtop {
    background-color: #BE7C4D;;
    color:#353238;
}

.workcard {
    margin-left: 190px;
}

span {
    color: white;
    text-align: center;
    /* width: 100%; */
    position: relative;
    bottom: 125px;
    font-size: 150%;
}

.repolink {
    background-color: #92140C;
    color: white;
}

.deployedlink {
    background-color: #C08773;
    color: white;
}
#section2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#contactTop {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
}

#subbox3 {
    text-align: center;
    padding-left: 20px;
}

/* #Contact {
    text-align: center;
    margin-left: 200px;
} */

ul li {
    display: inline;
    margin: 15px;
    color: black;
}

#contact {
    /* padding-left: -25px; */
    margin-left: -225px;
}
.foot {
    color: black;
  
}
footer {
    text-align: center;
    background-color: #92140C;
    color: #C1B4AE;
    padding: 20px;
    font-size: 20px;  
}

@media screen and (max-width: 992px) {
    
        header {
            height: 200px;
            max-width: 100%;
        }
        
        h1{
            font-size: 200%;
            text-align: center;
            padding-top: 60px;
        }
        
        #nav {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-around;
        }
        
        #Work {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content:left;
        }

        .workcard {
            margin-left: 175px;
        }

        #section2 {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        
        #contactTop {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: left;
        }
        
        #subbox3 {
            text-align: center;
        }

        #Contact {
            text-align: center;
            margin-left: 30px;
        }
}


@media screen and (max-width: 768px) {
        header {
            height: 175px;
        }
        
        h1{
            font-size: 175%;
            text-align: center;
            padding-top: 40px;
        }
        
        #nav {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-evenly;
        }
        
        a {
            text-align: center;
            font-size: 125%;
            text-decoration: none;
            margin: 5px;
        }
        
        /* main {
            background-color: rgb(245, 207, 213);
        } */
        
        #About {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-around;
            margin-left: 40px;
        }
        
        #subbox {
            /* flex-grow: 4; */
            padding-right: 20px;
            text-align: center;
        }
        
        #sdhead{
            /* flex-grow: 2; */
            max-width: 100px;
            max-height: 100px;
            padding-top: 10px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        
        #Abme {
            flex-grow: 5;
            padding: 0px 20px;
        }
        
        #Work {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content:left;
        }
        
         #subbox2 {
            flex-grow: 2;
            padding-left: 35px;
            text-align: center;
        }
        
        .workcard {
            margin-left: 135px;
        }

        #contactTop {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: left;
        }
        
        #subbox3 {
            text-align: center;
            padding-left: 5px;
        }
        #Contact {
            text-align: center;
            margin-left: 30px;
            font-size: 25px;
        }
        
        ul li {
            
            display: inline;
            margin: 15px 0px;
            /* font-size: 50%; */
        }
        
        footer {
            text-align: center;
            background-color: #92140C;
            color: #C1B4AE;
            padding: 10px;    
        }
        
}

@media screen and (max-width: 576px) {
    
     header {
        height: 140px;
    }
    
    h1{
        font-size: 130%;
        text-align: center;
        padding-top: 20px;
    }
    
    #adjective {
        text-align: center;
        font-size: 90%;
    }
    
    #nav {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
    }
    
    a {
        text-align: center;
        font-size: 100%;
        text-decoration: none;
    }
    
    #About {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-left: 30px;
    }
    
    #subbox {
        flex-grow: 1;
        padding-right: 20px;
        text-align: center;
        font-size: 100%;
    }
    
    #sdhead{
        margin-left: auto;
        margin-right: auto;
        max-width: 50px;
        max-height: 50px;
        padding-top: 10px;
    }
    
    #Abme {
        padding-left: 20px;
        font-size: 100%;
    }
    
    #Work {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content:center;
    }
    
     #subbox2 {
        padding-left: 45px;
        text-align: center;
    }
    .workcard {
        margin-left: auto;
    }
    #section2 {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
    }
    
    #contactTop {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: left;
    }
    
    #subbox3 {
        text-align: center;
        /* padding-left: 20px; */
    }
    #Contact {
        text-align: center;
        margin-left: 0px;
    }
    
    ul li {
        margin: 0px 100px;
        /* font-size: 60%; */
        flex-basis: 300px;
        align-self: center;
    }
    
    footer {
        text-align: center;
        background-color: #92140C;
        color: #C1B4AE;
        padding: 20px;    
    }
    
    
}